h1 {
  text-align: center;
}
.contenedor {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
div {
  height: 25%;
  font-size: 20pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  display: flex;
}
.libro {
  position: relative;
  align-self: center;
  display: flex;
}
