body {
  height: 50em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
div {
  width: 15%;
  height: 25%;
  font-size: 20pt;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}
.color1 {
  background-color: rgb(255, 117, 107);
}
.color2 {
  background-color: rgb(128, 229, 96);
}
.color3 {
  background-color: rgb(94, 129, 197);
}
.color4 {
  background-color: #ffed6b;
}
