body {
  height: 50em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
div {
  width: 15%;
  height: 25%;
  font-size: 20pt;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}
.color1 {
  background-color: #ff756b;
}
.color2 {
  background-color: rgb(128, 229, 96);
}
.color3 {
  background-color: #5e80c4;
}
.color4 {
  background-color: #ffed6b;
}
