* {
  margin: 0%;
  padding: 0%;
  font-family: "Maven Pro", sans-serif;
}
body {
  background-color: #f5f5f5;
}
header {
  background-color: #dfe3ee;
}
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #dfe3ee;
  font-size: small;
  padding: 5px;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}
nav ul li {
  margin: 0.5%;
}
.bordetext{
  border-right:#dfe3ee 1px solid;
}
.topBar1 {
  width: 70%;
  margin-left: 3px;
}
.topBar2 {
  width: 30%;
  justify-content: flex-end;
  margin-left: 62%;  
}
.buscador {
  display: flex;
  padding-bottom: 1%;
  font-weight: 900;
}
.textoBuscador{
  margin-left: 20%;
}
.logo {
  width: 3%;
  height: 4%;
  margin-top: 1%;
  margin-left: 2%;
}
.form1 {
  margin-left: 10%;
  align-self: center;
}
input {
  border-style: none;
  background-color: #dfe3ee;
}
.product {
  border-bottom-color: black;
  border-bottom-style: ridge;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  color: #c2c7d4;
}
.sec1 {
  background-color: #dfe3ee;
  padding-top: 2%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}
.entrar {
  font-size: medium;
  background-color: #dfe3ee;
  border-radius: 10%;
  width: fit-content;
  font-size: 1.2em;
  padding: 5px 54px;
  border-radius: 10px;
  border-width: 3px;
  box-shadow: rgba(0, 0, 0, 0.30) 0px 2px 9px;
}
.flechitas {
  font-size: 40pt;
  color: white;
  position: absolute;
  top: 35%;
}
.flechitas.fa-chevron-left {
  left: 0;
}
.flechitas.fa-chevron-right {
  position: absolute;
  right: 0;
  font-size: 40pt;
  color: white;
  margin-bottom: 15%;
}
.textos {
  position: relative;
  display: block;
  background-color: #dfe3ee;
}
.arriba{
  font-size: 55px;
  font-weight: 30;
}
.xiaomi{
  font-weight: 900;
  font-stretch: ultra-expanded;
}
.tachado{
  text-decoration: line-through;
  font-weight: lighter;
}
.imagenes {
  position: relative;
  background-color: #dfe3ee;
}
.contenedor {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.item1,
.item3 {
  background-color: #f0e6e4;
  width: 30%;
}
.item2 {
  background-color: #dcdfe4;
  width: 30%;
}
.item3{
  box-shadow: rgba(0, 0, 0, 0.30) 0px 2px 9px;
}
.movilesAbajo {
  width: 200pt;
  height: 250pt;
}
.contenedor2 {
  background-color: #438c78;
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  text-align: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 15pt;
}
.escudo {
  width: 8%;
  height: auto;
  margin-left: 15%;
}
.textof {
  display: block;
  margin-right: 25%;
  font-size: large;
}
.botonf {
  background-color:#438c78;
  color: white; 
  font-size: x-large;
  padding: 5px 50px;
  border-width: 3px;
  border-color: white;

}
